<% layout('layout/boilerplate') %>
<form class="text" action="/books" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="book[title]">
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" name="book[author]">
    </div>
    <div>
        <label for="country">Country</label>
        <input type="text" id="country" name="book[country]">
    </div>
    <div>
        <label for="language">Language</label>
        <input type="text" id="language" name="book[language]">
    </div>
    <div>
        <label for="year">Year</label>
        <input type="number" id="year" name="book[year]">
    </div>
    <button>Add Book</button>
</form>
<a href="/books">All Books</a>