<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text" href="#">Navbar</a>
        <button class="navbar-toggler text" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link text" href="/">Home</a>
                <a class="nav-link text" href="/books">All Books</a>
                <a class="nav-link text" href="/books/new">New Book</a>
            </div>
        </div>
    </div>
</nav>