<% layout('layout/boilerplate') %>
<div class="row mb-2">
    <div class="col-md-8 offset-2">
        <div class="card-show row g-0 border rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <div class="alert" role="alert">
                    <h4 class="alert-heading">
                        <%= err.message %>
                    </h4>
                    <% if(process.env.NODE_ENV !== 'production') {%>
                    <p class="card-text mb-2">
                        <%= err.stack %>
                    </p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>