.body {
    background-color: #f3d2c1;
}

.navbar {
    background-color: #fef6e4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
    color: #001858;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.navbar-brand:hover {
    color: #001858;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.title {
    color: #001858;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.nav-link {
    color: #172c66;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.nav-link:hover {
    color: #172c66;
    text-decoration: underline;
}

.card-img-top {
    width: auto;
    height: 300px;
    object-fit: cover;
    object-position: 50% 75%;
}

.card-img {
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 50% 75%;
    border-bottom: 1px solid #001858;
}

.card {
    background-color: #fef6e4;
    width: auto;
    height: 420px;
    color: #001858;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.card-show {
    background-color: #fef6e4;
    color: #001858;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

p {
    color: #172c66;
}

a {
    color: #001858;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #001858;
    text-decoration: underline;
}

.form-label {
    color: #001858;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.btn {
    background-color: #f582ae;
    color: #001858;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.btn:hover {
    background-color: #f582ae;
    color: #001858;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar-toggler {
    color: #172c66;
    border-color: #172c66;
    outline-color: #172c66;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(23, 44, 102, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}